<div class="row">
  <div class="col-lg-12">
    <h1>ニューレビュー登録</h1>
    <ul>
      <li>店名：<%= @restaurant.name %></li>
      <li>TEL：<%= @restaurant.telephone %></li>
      <li>住所：<%= @restaurant.address %></li>
      <li>ホームページ：<%= @restaurant.home_page %></li>
    </ul>

    <hr>
    <%= render 'form' %>
  </div>
</div>
