<div class="row">
  <div class="col-lg-12">
    <h1>レストラン情報の編集</h1>
    <%= render 'form' %>
    <br>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-restaurant">レストラン情報を削除する</button>
  </div>
</div>

<!-- 下記のモーダルは通常は隠れているので、どこに書いてもＯＫ -->
<div class="modal fade" id="delete-restaurant">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">レストラン情報の削除</h4>
      </div>
      <div class="modal-body">
        <p><%= @restaurant.name %>を削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <%= link_to '削除する', @restaurant, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
