<div class = "col-md-8">
  <div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-md-10">
      <div class="thumbnail">
        <img src=<%= restaurant.image %> alt="...">
        <div class="caption">
          <h5><%= restaurant.name %></h5>
          <p><%= restaurant.telephone %></p>
          <p><%= link_to '詳細', restaurant_path(restaurant.id), class: "btn btn-default" %>
          &nbsp;
          &nbsp;
          <%= link_to '編集', edit_restaurant_path(restaurant.id), class: "btn btn-default" %>
          <%= link_to '削除', restaurant_path(restaurant.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
  </div>

</div>

<div class = "col-md-4">
  <p>最近登録されたお店</p>
  <% index = 0 %>
  <% @restaurants.reverse_each do |restaurant| %>
    <%# ６個目以上の記事の場合はBreak（each文をその場で終わらせる） %>
    <% if index >= 5
          break
       end
    %>
    <a href="/restaurants/<%= restaurant.id %>" class="list-group-item"><%= restaurant.name %></a>
    <% index += 1 %>
  <% end %>
</div>
