<div class="row">
  <div class="col-md-6">
    <div class="col-sm-10 col-md-10">
      <div class="thumbnail" >
        <h4 class="text-center"><span class="label label-info"><%= @restaurant.area %></span></h4>
          <img src=<%= @restaurant.image %> class="img-responsive">
            <div class="caption">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <h3><%= @restaurant.name %></h3>
                </div>
            </div>
            <p><span class="glyphicon glyphicon-earphone"></span> <%= @restaurant.telephone %></p>
            <p>住所：<%= @restaurant.address %></p>
            <p>ホームページ：<%= @restaurant.home_page %></p>
            <p>平均点：<%= @average %></p>
            <div class="row">
              <div class="col-md-6">
                <a href="restaurants/<%= @restaurant.id %>/edit/" class="btn active btn-warning btn-product"><span class="glyphicon glyphicon-wrench"></span> 編集</a></div>
              <div class="col-md-6">
                <a href="restaurants/<%= @restaurant.id %>/" data-method="delete" class="btn active btn-danger btn-product"><span class="glyphicon glyphicon-trash"></span> 削除</a></div>
            </div>
            <p> </p>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-6">
  <% @restaurant.reviews.each do |review| %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="testimonials">
          <div class="active item">
            <blockquote><p><%= simple_format(review.body) %></p></blockquote>
            <div class="carousel-info">
              <img alt="" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="pull-left">
                <div class="pull-left">
                  <span class="testimonials-name"><%= review.user.name %>さん</span>
                  <span class="testimonials-post">評価：<%= review.point %>点</span>
                  <p><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                </div>
                <div class="pull-right">
                  <% if review.user.id == current_user.id %>
                  <%= link_to '編集', edit_restaurant_review_path(@restaurant, review), class: "btn active btn-warning btn-product" %>
                  <%= link_to '削除', restaurant_review_path(@restaurant, review), method: :delete, class: "btn active btn-danger btn-product" %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  </div>
</div>

<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant), class: "btn-default"%>
<%= link_to '編集', edit_restaurant_path(@restaurant) %> |
<%= link_to '戻る', restaurants_path %>




